aiohttp
aiosignal
async-timeout
attrs
cachelib
certifi
charset-normalizer
click
colorama
colorthief
discord.py
dnspython
Flask
Flask-Cors
Flask-OAuthlib
Flask-WTF
frozenlist
idna
importlib-metadata
iso8601
itsdangerous
Jinja2
MarkupSafe
multidict
oauthlib
Pillow
pymongo
python-dotenv
requests
requests-oauthlib
six
tornado
twitchio
typing_extensions
urllib3
Werkzeug
WTForms
yarl
zipp
