body {
    font-family: sans-serif;
  }

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
.login-button {
    display: inline-block;
    background-color: #8e62e0;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
.login-button:hover {
    background-color: #ab86e9;
  }

.login-button img {
    vertical-align: middle;
  }

#twitch-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
a {
  text-decoration: none;
}

#twitch-text {
    font-size: 20px;
    font-weight: bold;
  }