<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/timer_styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron" media="all">
  <link href="/static/favicon.ico" rel="icon">
  <title>Shakerz_92 Subathon Timer</title>
</head>

<body>
  <script src="/static/scripts/tmi.min.js"></script>
  <script>
    const client = new tmi.Client({
      options: { debug: true },
      identity: {
        username: '0us5ama',
        password: 'oauth:8qht7tn4uvz69f4uzdekny1bm7grj3'
      },
      channels: ['0ma9']
    });
    client.connect().catch(console.error);
    client.on('message', (channel, tags, message, self) => {
      if(self) return;
      if(message.toLowerCase() === '!hello') {
        client.say(channel, `@${tags.username}, heya!`);
      }
    });
  </script>
  <div id="timer"></div>

  <!-- Add the JavaScript to handle the timer and input bar -->
  <script src="/static/scripts/timer.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js' type='text/javascript'></script>
<script type = 'text/javascript'>
  const socketToken = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbiI6Ijc4MDA5NzVFMkEyQ0NDOTVBODJGQTZDNDFGMEU2OTRBOTkzRUZDQzM4OEM0NjRGNjUyNjhFRTVGM0M5Rjg2NjhFNTYxOTM4NEMwOTE4MEVCREQ4RTBDQkM4OTU5NjdFOURCMzA3MTc2MzY1NEFCMzVEQUI3QkUwNkIzOTdFOEJCNTU5RTQ2NjE2NTEwNEQ0RTcwNEEwQTg5Q0REQjA2RUNDMDg2NzgwQ0VEQ0JBMTkxODk3REFGNjY2NUNCRDY4Q0Q0QURERjI3NkMxQ0YyMzk3NTcyRTNCMDYzNDU3QzUyQTM4NDg4MzkzMUMxNjA3MzNCRDUzRkYzQzgiLCJyZWFkX29ubHkiOnRydWUsInByZXZlbnRfbWFzdGVyIjp0cnVlLCJ0d2l0Y2hfaWQiOiI0MzY1MTY5NjMifQ.icq3w4MRXwIGVHCr-r7yAuV6Xz5nuI9UzFY-0hindsI'; //Socket token from /socket/token end point
  
  //Connect to socket
const streamlabs = io(`https://sockets.streamlabs.com?token=${socketToken}`, {transports: ['websocket']});
  
  //Perform Action on event
  streamlabs.on('event', (eventData) => {
    if (!eventData.for && eventData.type === 'donation') {
      //code to handle donation events
      console.log(eventData.message);
    }
    if (eventData.for === 'twitch_account') {
      switch(eventData.type) {
        case 'follow':
          //code to handle follow events
          console.log(eventData.message);
          break;
        case 'subscription':
          //code to handle subscription events
          console.log(eventData.message);
          break;
        default:
          //default case
          console.log(eventData.message);
      }
    }
  });
</script>
</body>

</html>